/* general */
html, body{
    width: 100%;
    padding: 0px;
    margin: 0px;
	  font-family: "CooperHewitt";    
}

/* fonts */
@font-face {
	  font-family: "CooperHewitt";
	  src: url("./CooperHewitt-OTF-public/CooperHewitt-Thin.otf") format("otf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
	  font-family: "CooperHewitt";
	  src: url("./CooperHewitt-OTF-public/CooperHewitt-Medium.otf") format("otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
	  font-family: "CooperHewitt";
	  src: url("./CooperHewitt-OTF-public/CooperHewitt-MediumItalic.otf") format("otf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
	  font-family: "CooperHewitt";
	  src: url("./CooperHewitt-OTF-public/CooperHewitt-Bold.otf") format("otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
	  font-family: "CooperHewitt";
	  src: url("./CooperHewitt-OTF-public/CooperHewitt-Bold.otf") format("otf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
	  font-family: "CooperHewitt";
	  src: url("./CooperHewitt-OTF-public/CooperHewitt-Heavy.otf") format("otf");
  font-weight: 700;
  font-style: normal;
}


/* navbar */
.navbar {
	background-color: black;
}

.main {
	  font-family: "CooperHewitt";
	  font-weight: 500;
}

.navbar-brand, 
.query-header {
	width: 50%;
	float: left;
}

.navbar-nav {
	width: 50%;
}

.nav-item {
	width: 19%;
	margin-right: 6%;
	float: right;
}

/* sub-nav */
.sub-nav {
	height: 3em;
	background-color: #DCDCDC;
	position: relative;
}

/*button {
	background-color: white;
	border: none;
	padding: 1% 12%;
}*/

#vertical {
	text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.container {
	margin-top: 20px;
}

/* footer */
footer {
	width: 100%;
	height: 4em;
	background-color: black;
	color: white;
	text-align: vertical;
	padding-top: 10px;
}

footer a {
	color: white;
	padding: 1em;
	margin: 1em 5em;
	font-family: 'CooperHewitt', sans-serif;
	font-weight: 300;
}

/* typography */
a.main, .query-header {
	font-family: 'CooperHewitt', sans-serif;
	font-weight: 300;
}

a.nav-link {
	font-family: 'CooperHewitt', sans-serif;
}

a.main, 
a.nav-link,
.subtitle, 
.query-header {
	text-transform: uppercase;
	color: white;
	line-height: 2;
	font-family: 'CooperHewitt', sans-serif;
	font-weight: 700;
}

.nav-item {
  list-style-position:inside;
  border-top: 3px solid white;
}

.nav-item-active {
  list-style-position:inside;
  border-top: 3px solid #FF5700;
}

a.main:hover, 
a.nav-link:hover {
	text-transform: uppercase;
	text-decoration: overline;
	color: #FF5700;
	text-decoration: none;
	text-decoration-thickness: 0.2em;
	font-family: 'CooperHewitt', sans-serif;
	font-weight: 700;
}

a.nav-link:active {
	color: #FF5700;
	text-decoration-thickness: 0.2em;
	font-family: 'CooperHewitt', sans-serif;
	font-weight: 700;
}

.fa-1x {
font-size: 1.5rem;
}

.navbar-toggler.toggler-example {
cursor: pointer;
}

text:hover { 
	opacity: .7 !important; 
}

.query-header {
	padding: 10px 20px;
	font-family: 'CooperHewitt', sans-serif;
	font-weight: 500;
	font-style: italic;
}

h4 {
	font-family: 'CooperHewitt', sans-serif;
	font-weight: 500;
	font-style: italic;
}

/* slider */
.switch-field {
	display: flex;
	margin-bottom: 36px;
	overflow: hidden;
}

/*.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}
*/
/*.switch-field label {*/
/*	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #FF5700;
	color: white;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}*/

/*.btn-outline-primary {
margin:  .5em;
}*/

.form-switch{
	margin:  2em .5em 1em 2em;
}

.objSelected {

}
.tip {
	height: 80px;
	width: 300px;
}
.note {
	height: 30px;
	width: 140px;
}

.details {
	width: 100%;
}

.btn-group-vertical {
	border-radius: 0;
	margin-left: 1em;
	margin-top: 1em;
}

.btn-outline-primary {
	width: 5em;
	height: 3.5em;
}

input[type=checkbox] {
    box-sizing: border-box;
    z-index: -1;
    vertical-align: middle;
}

label.btn-outline-primary {
	/*border: 1px solid black;*/
	color:  white;
	background-color: black;
}

label#Sienna:hover {
	color:  white;
	background-color: #A0522D;
}
label#PaleVioletRed:hover {
	color:  white;
	background-color: #DB7093;
}
label#Crimson:hover {
	color:  white;
	background-color: #DC143C;
}
label#DarkOrange:hover {
	color:  white;
	background-color: #FF8C00;
}
label#DarkOliveGreen:hover {
	color:  white;
	background-color: #556B2F;
}
label#Goldenrod:hover {
	color:  white;
	background-color: #DAA520;
}
label#DarkSlateBlue:hover {
	color:  white;
	background-color: #483D8B;
}
label#RoyalBlue:hover {
	color:  white;
	background-color: #4169E1;
}
label#Wheat:hover {
	color:  white;
	background-color: #F5DEB3;
}
label#DarkKhaki:hover {
	color:  white;
	background-color: #BDB76B;
}

label#Sienna {
	background-color: white;
	color:  #A0522D;
	border: 1px solid #A0522D;
}
label#PaleVioletRed {
	background-color: white;
	color:  #DB7093;
	border: 1px solid #DB7093;
}
label#Crimson {
	background-color: white;
	color:  #DC143C;
	border: 1px solid #DC143C;
}
label#DarkOrange {
	background-color: white;
	color:  #FF8C00;
	border: 1px solid #FF8C00;
}
label#DarkOliveGreen {
	background-color: white;
	color:  #556B2F;
	border: 1px solid #556B2F;
}
label#Goldenrod {
	background-color: white;
	color:  #556B2F;
	border: 1px solid #DAA520;
}
label#DarkSlateBlue {
	background-color: white;
	color:  #483D8B;
	border: 1px solid #483D8B;
}
label#RoyalBlue {
	background-color: white;
	color:  #4169E1;
	border: 1px solid #4169E1;
}
label#Wheat {
	background-color: white;
	color:  #F5DEB3;
	border: 1px solid #F5DEB3;
}
label#DarkKhaki {
	background-color: white;
	color:  #BDB76B;
	border: 1px solid #BDB76B;
}


/* chart */
.filterCol {
	width:  10%;
}

.vizCol {
	width: 90%;
}

.chart-area {
	background-color: #FFF;
	height: 60%;
}


/* gallery */
.gallery-section {
	background-color: #000;
	height: 5em;
}
.gallery-area {
  height: 100%;
	background-color: #DCDCDC;
}

#gallery {
    width: 80%;
    margin: 1% 10%;
}

/* test gallery
img {
  padding: 5px;
} */

/*.header {
	font-size: 16em;
}*/

#app {
  /*https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Values_and_units#lengths*/
  /*https://developer.mozilla.org/en-US/docs/Web/CSS/grid*/
  /*https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Grids#flexible_grids_with_the_fr_unit*/
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-template-rows: repeat(auto-fit, 200px);
  grid-gap: .5rem;
  grid-auto-flow: dense;
  margin-top: 1rem;  
}

div.card {
  align-content: center;
  max-height: 200px;
  width: 200px;
  display: inline-flex;
  margin:  .5em;
  padding:  2em;
  vertical-align:top;
  /*white-space: normal;*/
}

.typeText {
	font-size: .8em;
}

/*div.object-card h2 {
  font-size: 1.2rem;
  line-height: 1.1;
  padding-bottom: 0.5em;
}*/

/*div.object-card div.image-container {
  height: auto;
  display:flex;
  align-items: flex-end;
}
div.object-card div.image-container img {
  max-width: 100%;
  height: auto;
  max-height: 200px;
}
.object-year { color: #999; }*/

.click-only-text {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
.click-only-text::selection {
    background: none;
  }

.word-default {
    fill: grey;
    font-weight: normal;
  }
.word-hovered {
    fill: #FF5700;
    font-weight: bold;
  }
.word-selected {
    fill: black;
    font-weight: bold;
  }

.objSelected {
	background-color: #333;
	color:  black;
}

/*.form-switch {

}*/

/*input[type=radio]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 200px;
	height: 100px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 10px;
	height: 10px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: #bada55;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 130px;
}

// centering
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}*/

